
.navbar {
    background-color: #008B8B !important; 
}

.navbar-nav .nav-link {
    color: white !important; 
}

body {
    padding-top: 70px; 
}

header {
    text-align: center;
    padding: 20px;
}

#home img {
    max-width: 100%; 
    height: auto;
    padding: 15px;
}

#home p {
    padding: 15px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: #008B8B;
    font-style: bold;
}

header h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #008B8B;
}

